address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    color: var(--main-white);
  }

  ul {
    padding-bottom: 50px;
  }

  li {
    padding-top: 9px;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
      color: var(--webstudio-blue);
      fill: var(--webstudio-blue);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (min-width: 768px) {
  address {
    ul {
      padding-bottom: 0;
    }


  }
}

@media screen and (min-width: 1200px) {
  address {
    align-items: flex-start;

    a {
      display: block;
    }
  }
}