.portfolio-box {
  ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

  }

  &__image {
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      .portfolio-box__description {
        transform: translatex(0);
      }
    }
  }

  &__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translatey(100%);
    transition: ease-in 250ms;

    p {
      background-color: rgba(33, 150, 243, 0.9);
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.555;

      letter-spacing: 0.03em;
      color: var(--main-white);
      padding: 49px 45px 49px 24px;
    }
  }

  &__txt {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    background-color: var(--main-white);

    p {
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.03em;
      color: var(--gery-text);
    }
  }
}

@media screen and (min-width: 768px) {}

/*.portfolio-box {
  ul {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
  }

  li {
    flex-basis: calc((100% - 60px) / 3);
    background: var(--main-white);
  }

  &__image {
    overflow: hidden;
    position: relative;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      .portfolio-box__description {
        transform: translatex(0);
      }
    }
  }

  &__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translatey(100%);
    transition: ease-in 250ms;

    p {
      background-color: rgba(33, 150, 243, 0.9);
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.555;

      letter-spacing: 0.03em;
      color: var(--main-white);
      padding: 49px 45px 49px 24px;
    }
  }

  &__txt {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    background-color: var(--main-white);

    p {
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.03em;
      color: var(--gery-text);
    }
  }
}
*/