.form {
  margin: 32px;

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    padding-bottom: 12px;
  }

  &__label {
    position: relative;
    display: flex;
    flex-flow: column;

    &:focus-within {
      fill: var(--webstudio-blue);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__txt {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;

    letter-spacing: 0.01em;

    color: #757575;
    padding-bottom: 4px;
    padding-top: 10px;
  }

  &__svg {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 11px;
    left: 12px;
  }

  &__space {
    width: 300px;
    min-height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;

    resize: none;

    &:focus-within {
      outline-color: var(--webstudio-blue);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--input {
      padding-left: 40px;
    }

    &--comment {
      padding: 12px 16px;
      resize: none;

      &::placeholder {
        color: rgba(117, 117, 117, 0.5);
      }
    }
  }

  &--button-position {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .form {
    &__space {
      width: 370px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .form {
    &__space {
      width: 448px;
    }
  }
}