.menu-toggle {
    background-color: transparent;
    cursor: pointer;
    border: none;

    &:hover,
    &:active {
        color: var(--webstudio-blue);
        background-color: transparent;
    }
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}


@media screen and (min-width: 1200px) {
    .menu-toggle {
        display: none;
    }
}

.mobile-menu {
    position: absolute;
    width: 480px;
    height: 796px;
    left: 0;
    top: 0;

    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    color: var(--webstudio-blue);

}

.is-green {
    background-color: green;
    width: 300px;
    height: 200px;
}



.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.menu-item a {
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
        color: var(--webstudio-blue);
    }
}