.menu-toggle {
    background-color: transparent;
    cursor: pointer;
    border: none;

    &:hover,
    &:active {
        color: var(--webstudio-blue);
        background-color: transparent;
    }
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-container {
    display: none;
    padding-left: 15px;
    padding-top: 48px;
    position: absolute;
    width: 320px;
    height: 796px;
    left: 0;
    top: 0;

    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

}

@media screen and (min-width: 480px) {
    .menu-container {
        width: 480px;
        padding-left: 40px;
    }
}

.menu-container.is-open {
    display: block;
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
}

.menu__item {
    a {
        color: var(--black-text);
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;

        &:hover,
        &:focus {
            color: var(--webstudio-blue);
        }
    }

    .active {
        color: var(--webstudio-blue);
    }

    &--padding {
        padding-bottom: 36px;
    }
}


.border-right {
    border-right: var(--gery-text) solid 1px;

    &--padding {
        padding-left: 10px;

    }
}

.menu {
    &__tel {
        padding-top: 302px;

        a {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 34px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            padding-top: 302px;
            color: var(--webstudio-blue);
        }
    }

    &__mail {
        padding-top: 32px;
        padding-bottom: 64px;

        a {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;

            color: #757575;
        }
    }

    &__social-item a {
        font-size: 12px;
        line-height: 1.22;
        padding-right: 10px;

        color: var(--webstudio-blue);
    }

    &__social {
        width: 320px;
        display: flex;

        padding-bottom: 46px;
    }
}

@media screen and (min-width: 480px) {

    .menu__social {
        width: 480px;

        &-item a {
            font-size: 18px;
        }
    }
}