.label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-statute {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 9px;
  line-height: 1.16;

  letter-spacing: 0.03em;

  color: #757575;
  padding-top: 20px;
  padding-bottom: 40px;


  color: #757575;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 2px;
    margin-right: 7px;
    cursor: pointer;
  }

  &__link {
    color: var(--webstudio-blue);
    text-decoration-line: underline;
    padding-left: 4px;
    padding-right: 4px;
    justify-content: center;
  }
}

.checkbox-sign:checked+.form-statute::before {
  background-color: #2196f3;
  border: none;
  width: 16px;
  height: 16px;
  background-image: url(../images/icon_check.svg);
}

@media screen and (min-width: 1200px) {
  .form-statute {
    font-size: 14px;
    line-height: 1.714;
  }
}

@media screen and (min-width: 480px) {
  .form-statute {font-size: 12px;}
}