:root {
  --main-white: #ffffff;
  --slogan-background: #2f303a;
  --black-text: #212121;
  --grey-background: #f5f4fa;
  --gery-text: #757575;
  --webstudio-blue: #2196f3;
}

$company-font: "Roboto", "Raleway", sans-serif;
